header{
    width: 100%;
    padding: 50px 0;
    top: 0;
    position: fixed;
    z-index: 1;
    
    border-bottom: 3px solid transparent;
    transition: $anim;
    
    .button{ padding: 30px 72px; }

    p{ margin: auto; }
}

nav{
    .tel{ font-size: 26px; }

    .wrapper>:nth-child(1){ margin-right: 30px; }
}