@import '_global';
@import '_vars';
@import '_header';

section{ padding: 110px 0; }

#front{
    position:absolute;
    left: 0;
    top: 50px;
    background-attachment: scroll;
    background-image: url(../img/Tree.png);
    height: 879px;
    width: 277px;
    z-index: 1;
}

.intro{
    padding-top: 220px;
    background-repeat: no-repeat;
    // background-size: contain;
    background-image: 
        url(../img/cloud_front.png),
        url(../img/house_front.png),
        url(../img/house_bg.png),
        url(../img/cloud_bg.png), 
        url(../img/sky.png);
    background-position:
        100% 377px,
        100% 230px,
        100% 0,
        0 43px,
        0 0;
    background-attachment: scroll, scroll,fixed, scroll,fixed;

    .title   { width: 500px; margin-left: 0;}
    .subtitle{ width: 400px; margin-left: 0;}
}
.blitz{

    &__item{
        max-width: 350px;
        
        img{ height: 150px; }
    
        p{ margin-top: 30px; }
    }   
}

.gallery{

    p{
        margin: auto;
        max-width: 600px;
        margin-bottom: 50px;
    }

    img{
        max-width: 300px;
        width: 19%;
        transition: $anim;

        &:hover{ filter: brightness(.7); }
    }
}

.test{
    padding-bottom: 450px;
    background-image:
        url(../img/catalog.png),
        url(../img/test_cloud.png),
        url(../img/test_bg.png);

    background-size: 75%, 1, 1;
    background-repeat: no-repeat;
    background-position:
        334px 47px,
        0 42px,
        0 0;

    .container{ margin-right: 175px; }

    &__discr{ max-width: 450px; }

    &__modal{
        padding: 70px 76px;
        background-color: #fff;
        border-radius: 20px;

        table{
            margin: 0 -45px -45px -45px;
            border-spacing: 45px;
        }

        td{
            min-width: 249px;            max-width: 249px;
            min-height: 109px;            max-height: 109px;
            line-height: 109px;

            .button{
                padding: 30px 70px;
                border-radius: 70px;
                display: inline-block;
                line-height: 20px;
            }

            &.ticket{
                background-image: url(../img/cell.png);
                background-repeat: no-repeat;

                div{
                    margin: 0px 15px;
                    line-height: 20px;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }
    }

    .mark{
        position: absolute;
        width: 211px; height: 211px;
        background-image: url(../img/mark.png);
        line-height: 211px;
        text-align: center;
        left: 825px;
        margin-top: 200px;

        p{
            line-height: normal;
            vertical-align: middle;
            display: inline-block;
            color: #fff;
            font-size: 22px;
        }
    }
}

.feedback{
    &__item{
        max-width: 30%;
        margin-top: 100px;

        p{
            margin-top: 35px;
        }

        video, .video-js{
            border-radius: 10px;
        }
    }
}

.example{
    .video-js, video{
        margin: auto;
        border-radius: 15px;
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
    }
}

.offer{
    background-image: url(../img/offer.png);
    color: #fff;

    .button{ padding: 30px 45px;}

    .container{
        margin-right: 350px;
    }

    .left, .right{
        width: 400px;
    }

    .right{
        margin-left: 60px;

        ul{
            @extend .wrapper;
            margin-right: 20px;

            img{
                height: 50px;
            }
        }

        *{ margin-bottom: 40px; }
    }
}